body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.poster {
  width: 50%;
  margin-top: 100px;
  margin-left: 15px;
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
}

.csk-photo {
  border: 5px solid white;
  width: 100%;
}
